@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-family: 'Lato', sans-serif;
    
}

/*******************************/
/********* CUSTOM TYPES ********/
/*******************************/
.card-sm {
    flex-grow: 1;
    max-width: 300px;
    height: 300px;
    border-radius: 30px;
    padding: 30px;
    background-color: #f5f5f5;
}
.card-lg {
    flex-grow: 1;
    width: 300px;
    height: 500px;
    border-radius: 30px;
    padding: 50px;
    background-color: #f5f5f5;
}
.shadow-s {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 2px 4px rgba(0, 0, 0, 0.23);
}
.shadow-m {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.shadow-l {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.btn-lg {
    align-self: center;
    width: 60px;
    height: 60px;
    outline: none;
    border: none;
    border-radius: 100%;
    font-size: 18px;
    background-color:#455a64;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 2px 4px rgba(0, 0, 0, 0.23);
}

.btn-sm {
    align-self: center;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 100%;
    font-size: 18px;
    background-color:#455a64;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 2px 4px rgba(0, 0, 0, 0.23);  
}

/*******************************/
/********* Animations **********/
/*******************************/

.in-out {
    transition: all .5s ease-in-out;
}
.slide-fade-enter-active {
    transition: all .2s ease-out;
}
.slide-fade-leave-active {
    transition: all .2s ease-in;
}
  .slide-fade-enter {
    transform: translateY(15px);
    opacity: 0;
} 
  .slide-fade-leave-to {
    transform: translateY(-15px);
    opacity: 0;
}